* {
    margin : 0;
    padding : border-box;
}
nav{
    height: 60px;
    display : flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    display : flex;
    justify-content: center;
    align-items: center;
}
.logo div{
    padding-left: 3px;
}
ul{
    display : flex;
    list-style: none;
    justify-content: space-between;
    gap : 20px;
}
button{
    color : white;
    font-weight: bold;
    background-color: rgba(50, 50, 213, 0.811);
    text-align: center;
    height: 2.3rem;
    width: 140px;
    border-radius: 11px;
    border : 0;
    margin : 0;
}
header{
    display : grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('assets/banner.jpg');
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.head-content{
    width: 600px;
    color : white;
    text-align: center;
}
.head-content h1{
    font-size: 50px;
    font-weight: 800;
}
.btn{
    display : flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}
.btn button{
    height: 3.2rem;
    width: 200px;
}

.main-section{ 
    width:100%;
    margin-top:30px;
}
.box-container{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:5px;
    margin-top: 15px;
    margin: 20px 20px;
}
.main-section h2{
    text-align:center;
    font-size:55px;
    margin-bottom:40px;
}
.box{
    height : 500px;
    width: 650px;
    padding : 5px 0px 5px;
    margin-top : 5px;
}

.box-img{
    width:100%;
    height:350px;
    background-size: cover;
}
.box-content{
    margin-right: 1rem;
    margin-left: 1rem;
}
.box p{
    margin-top: 6px;
}

.pricing{
    width:100%;
    min-height: 100vh;
}
.card-container{
    width: 95%;
    max-width: 1100px;
    margin : auto;
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap : 20px;
}
.price-card{
    width:300px;
    height: 350px;
    border : 2px solid whitesmoke;
    padding : 5% 5%;
    border-radius: 12px;
    text-align: left;
}
.pricing h1{
    text-align:center;
    font-size:60px;
    color:#0f172a;
}

.subtitle{
    text-align:center;
    color:#817f7f;
    margin:15px 0 50px;
}
.card small{
    color:#666;
    font-weight:600;
    letter-spacing:1px;
}

.card h2{
    font-size:60px;
    margin-top:10px;
    color:#111827;
}
.price-card hr{
    border:none;
    border-top:1px solid #ddd;
    margin-bottom:25px;
}

.price{
    color:#777;
    margin:8px 0 20px;
}
.price-card ol {
    text-align: left;
    margin: 20px 0;;
}
.price-card ol li{
    list-style:disc;
    line-height: 28px;
}    
.btnn{
    width:100%;
    padding:14px;
    border-radius:8px;
    border:1px solid #2563eb;
    background:white;
    color:#2563eb;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}